@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 29% 24%;
    --card: 0 0% 100%;
    --card-foreground: 210 29% 24%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 29% 24%;
    --primary: 210 29% 24%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 210 29% 24%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 210 29% 24%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 210 29% 24%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 89% 6%;
    --foreground: 210 40% 98%;
    --card: 222 84% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 222 89% 6%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 310 90% 65%;
    --secondary-foreground: 0 0% 98%;
    --muted: 222 84% 12%;
    --muted-foreground: 240 5% 64%;
    --accent: 222 84% 12%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 217 91% 60%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
