@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 29% 24%;
    --card: 0 0% 100%;
    --card-foreground: 210 29% 24%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 29% 24%;
    --primary: 210 29% 24%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 210 29% 24%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 210 29% 24%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 210 29% 24%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 10% 23%;
    --foreground: 0 0% 83%;
    --card: 210 10% 27%;
    --card-foreground: 0 0% 83%;
    --popover: 210 10% 23%;
    --popover-foreground: 0 0% 83%;
    --primary: 183 100% 74%;
    --primary-foreground: 210 29% 15%;
    --secondary: 210 29% 24%;
    --secondary-foreground: 0 0% 83%;
    --muted: 210 29% 24%;
    --muted-foreground: 0 0% 60%;
    --accent: 210 29% 24%;
    --accent-foreground: 183 100% 74%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 35%;
    --input: 210 10% 35%;
    --ring: 183 100% 80%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
